/*If decks*/
.decks-block{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 3px solid rgb(203, 202, 209);
    width: 98%;
    margin-left: 1%;
    border-radius: 10px;
    padding-bottom: 10px;
}

.deck{
    margin-top: 10px;
    width: 46%;
    margin-left: 2%;
    background-color: rgb(44, 56, 95);
    color: white;
    border: 2px solid rgb(15, 93, 156);
    border-radius: 5px;
    text-shadow: 3px 3px 5px 5px rgb(10, 40, 120);
    font-family: monospace;
}
.deck h3{
    margin-top: 0;
    padding-top: 5px;
    background-color: rgb(20, 30, 40);
    text-align: center;
    font-size: 22px;
    margin-bottom: 0;
    border-bottom: rgb(248, 248, 248) 1px solid;
}
.deck h5{
    font-size: 18px;
    color: rgb(50, 98, 209);
    text-align: center;
    border-bottom: 1px solid rgb(190, 200, 210);
    margin-bottom: 2px;
    margin-top: 0;
}
.deck img{
    margin-top: 0;
    width: 100%;
    min-height: 40%;
}
.deck p{
    margin-top: 0;
    background-color: rgb(20, 30, 40);
    padding-block: 5px;
    padding-inline: 10px;
    text-align: center;
    font-size: 14px;
}
.deck span{
    margin-left: 5px;
    font-size: 16px;
    padding-inline: 2px;
    border-radius: 4px;
}
.deck b{
    color: rgb(170, 40, 10);
}
.get_deck {
    width: 100%;
    align-items: center;
    margin-bottom: 0;
}
.get_deck button {    
    text-align: center;
    width: 100%;
    font-size: 28px;
    font-family: 'Impact', Haettenschweiler, sans-serif;
    padding-inline: 10px;
    padding-block: 5px;
    background-color: rgb(194, 172, 226);
    color: rgb(3, 0, 10);
    cursor: hand;
    margin-bottom: 0;
}.get_deck button:hover{
    background-color: rgb(158, 132, 197);
    color: rgb(3, 0, 10);
}

/*If not decks*/
#no_decks{
    color: black;
    font-family: monospace;
    font-size: 36px;
    text-align: center;
    padding: 5% 30%;
    border-block: 12px solid rgb(190, 200, 210);
    margin-top: 0;
}