{% extends 'layouts/cards_base.html' %}

{% block cards_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/review_cards.css' %}">
    <h2 id="title">Decks to review:</h2>

    {% if own_decks %}
        {% for own_deck in own_decks %}
            <div class="deck">
                <h3>{{ own_deck.title }}</h3>
                <h4>{{ own_deck.description }}</h4>
                <button>Study</button>
            </div>
        {% endfor %}
    {% endif %}

    {% if decks %}
        {% for deck in decks %}
            <div class="deck">
                <h3>{{ deck.title}}</h3>
                <h4>{{ deck.description }}</h4>
                <button>Study</button>
            </div>        
        {% endfor %}
    {% endif %}
{% endblock %}